[iam-themes ~= rounded] {
	--rounded-border-radius: 1ex;
}

[iam-themes ~= light] {
	--light-iam-btn-background-color: ButtonFace;
}

/* <iam-theme = rounded> */
[iam-btn]
, [iam-dd-list] {
	border-radius: 0; /* fallback if css3 is not supported or theme is not defined */
	border-radius: var(--rounded-border-radius);
}
/* </iam-theme = rounded> */

[iam-themes ~= dark] {
}